unstructured[all-docs]
pillow
lxml
chromadb
tiktoken
langchain
langchain-community
langchain-openai
langchain-groq
python_dotenv
openai
streamlit
langchain-core
#langchain-retrievers
#langchain-embeddings
#langchain-vectorstores
#pickle
streamlit-mic-recorder
typing-extensions
uuid
#langchain-storage
#langchain-schema
opencv-python
